<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="table-style.css" />
    <link rel="stylesheet" href="news-style.css" />
    <link rel="stylesheet" href="tree-style.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="script.js"></script>
    <title>Informatica Tor Vergata</title>
  </head>
  <body>
    <!-- Barra del menu -->
    <nav
      id="barraMenu"
      class="
        navbar
        sticky-top
        navbar-expand-md navbar-light
        bg-light
        ombra-menu
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="http://web.uniroma2.it/" target="_blank">
          <img
            src="./logo_TV.svg"
            alt="logo tor vergata"
            height="60px"
            class="d-inline-block align-text-top"
          />
          <div class="d-inline-block align-text-top">
            Università degli studi <br />
            di Roma Tor Vergata
          </div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarTogglerDemo02"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Orari</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Corsi</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Docenti</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Esami</a>
            </li>
            <div class="underbar"></div>
          </ul>
        </div>
      </div>
    </nav>

    <!-- header -->
    <header class="select-disabled">
      <h1>Corso di laurea</h1>
      <div id="switch-button">
        <h3 id="triennale" class="toggled">Triennale</h3>
        <h3 id="magistrale">Magistrale</h3>
        <div id="slide-bar"></div>
      </div>
      <h1>Informatica</h1>
    </header>

    <!-- main -->
    <main class="container">
    <div class="row">

      <!-- welcome message -->
      <p id="welcome-message" class="col-12 col-md-6 col-lg-12">
        <span class="auto-write-text">> </span>
      </p>

      <!-- NAV TREEE -->
      <section class="col col-md-6 col-lg-4">

        <div id="nav-tree-triennale" class="tree">
          <p>Triennale</p>
          <ul>

            <li> <span class="tree-node">Site</span>
              <ul>

                <li> <img src="../icons/icons8-folder-48.png" height="20em" class="tree-node" /> Home <span class="comment">- Current</span></li>

                <li> <img src="../icons/icons8-calendar-80.png" height="20em" class="tree-node"/> <a href="#nogo">Orari</a> 
                  <ul class="hidden" >

                    <li> primo-anno </li>
                    <li> secondo-anno </li>
                    <li> terzo-anno </li>

                  </ul>
                </li>

                <li> <img src="../icons/icons8-book-80.png" height="20em" class="tree-node"/> <a href="#nogo">Corsi</a>
                <ul>

                  <li> <img src="../icons/icons8-number-1-90.png" height="20em" class="tree-node" /> primo-anno
                    <ul class="hidden">
                      {% for corso in tree['triennale']['corsi'][1] %}
                      <li>
                        <img src="../icons/icons8-study-100.png" height="20em" /> 
                        <a href="{{ corso['link'] }}">{{ corso['nome'] }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>

                  <li> <img src="../icons/icons8-number-2-90.png" height="20em" class="tree-node" /> secondo-anno
                    <ul class="hidden" >
                      {% for corso in tree['triennale']['corsi'][2] %}
                      <li>
                        <img src="../icons/icons8-study-100.png" height="20em" /> 
                        <a href="{{ corso['link'] }}">{{ corso['nome'] }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>

                  <li> <img src="../icons/icons8-number-3-90.png" height="20em" class="tree-node" /> terzo-anno
                    <ul class="hidden" >
                      {% for corso in tree['triennale']['corsi'][3] %}
                      <li>
                        <img src="../icons/icons8-study-100.png" height="20em" /> 
                        <a href="{{ corso['link'] }}">{{ corso['nome'] }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
                </li>

                <li> <img src="../icons/icons8-graduation-cap-48.png" height="20em" class="tree-node" /> <a href="./triennale/20-21/docenti.html">Docenti</a>
                  <ul class="hidden" >
                    {% for docente in tree['triennale']['docenti'] %}
                    <li>
                      <img src="../icons/icons8-user-48.png" height="20em" /> 
                      <a href="{{ './triennale/20-21/docenti.html#' + docente['id-name'] }}">{{ docente['nome'] }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>

                <li> <img src="../icons/icons8-pencil-48.png" height="20em" class="tree-node" /> <a href="#nogo">Esami</a> </li>

              </ul>
            </li>

          </ul>
        </div>

        {% block nav_tree_magistrale scoped %}{% endblock %}
        <div id="nav-tree-magistrale" class="tree hidden">
          <p>Magistrale</p>
          <ul>

            <li> <span class="tree-node">Site</span>
              <ul>

                <li> <img src="../icons/icons8-folder-48.png" height="20em" class="tree-node" /> Home <span class="comment">- Current</span></li>

                <li> <img src="../icons/icons8-calendar-80.png" height="20em" class="tree-node"/> <a href="#nogo">Orari</a> 
                  <ul class="hidden" >

                    <li> primo-anno </li>
                    <li> secondo-anno </li>

                  </ul>
                </li>

                <li> <img src="../icons/icons8-book-80.png" height="20em" class="tree-node"/> <a href="#nogo">Corsi</a>
                <ul>

                  <li> <img src="../icons/icons8-number-1-90.png" height="20em" class="tree-node" /> primo-anno
                    <ul class="hidden">
                      {% for corso in tree['magistrale']['corsi'][1] %}
                      <li>
                        <img src="../icons/icons8-study-100.png" height="20em" /> 
                        <a href="{{ corso['link'] }}">{{ corso['nome'] }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>

                  <li> <img src="../icons/icons8-number-2-90.png" height="20em" class="tree-node" /> secondo-anno
                    <ul class="hidden" >
                      {% for corso in tree['magistrale']['corsi'][2] %}
                      <li>
                        <img src="../icons/icons8-study-100.png" height="20em" /> 
                        <a href="{{ corso['link'] }}">{{ corso['nome'] }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
                </li>

                <li> <img src="../icons/icons8-graduation-cap-48.png" height="20em" class="tree-node" /> <a href="./magistrale/20-21/docenti.html">Docenti</a>
                  <ul class="hidden" >
                    {% for docente in tree['magistrale']['docenti'] %}
                    <li>
                      <img src="../icons/icons8-user-48.png" height="20em" /> 
                      <a href="{{ './magistrale/20-21/docenti.html#' + docente['id-name'] }}">{{ docente['nome'] }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>

                <li> <img src="../icons/icons8-pencil-48.png" height="20em" class="tree-node" /> <a href="#nogo">Esami</a> </li>

              </ul>
            </li>

          </ul>
        </div>

      </section>

      <!-- ANNUNCI -->
      <section class="news col-12 col-lg-8">
      <p class="h1 text-center">News</p>
      
      <!-- TRIENNALE -->
      <div id="news-triennale" class="buffer container border border-3">
      <div class="row row-cols-1 row-cols-md-2">
        {% for item in items['triennale'] %}
          {% block news_triennale scoped %}{% endblock %}
        {% endfor %}
      </div> 
      </div>

      <!-- MAGISTRALE -->
      <div id="news-magistrale" class="buffer container border border-3 hidden">
      <div class="row row-cols-1 row-cols-md-2">
          {% for item in items['magistrale'] %}
            {% block news_magistrale scoped %}{% endblock %}
          {% endfor %}
      </div> 
      </div>
      </section>
    </div>
    </main>

    <hr />

    <!-- footer -->
    <footer>
      <div id="gitIcon">
        <a href="https://github.com/Alessandrostr95/PinkPeachProject">
          <img src="../icons/icons8-github-96.png" alt="git" width="28px" />
        </a>
      </div>
      <div id="sitoUfficialeIcon">
        <a href="http://www.informatica.uniroma2.it/">
          <img
            src="../icons/icons8-toilet-paper-80.png"
            alt="sito-informatica"
            width="28px"
          />
        </a>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>