<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../assets/logo.svg" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/table-style.css" />
    <link rel="stylesheet" href="../assets/css/news-style.css" />
    <link rel="stylesheet" href="../assets/css/tree-style.css">
    <link rel="stylesheet" href="../assets/css/contributors.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="../assets/js/informazioni.js"></script>
    <title>Informatica Tor Vergata</title>
  </head>
  <body>
    <!-- Barra del menu -->
    <nav
      id="barraMenu"
      class="
        navbar
        sticky-top
        navbar-expand-md navbar-light
        bg-light
        ombra-menu
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="./index.html">
          <img
            src="../assets/logo.svg"
            alt="logo"
            height="60px"
            class="d-inline-block align-text-top"
          />
          <div class="d-inline-block align-text-top h4">
            CdL in Informatica <br />
            Tor Vergata
          </div>
        </a>
      </div>
    </nav>

    <!-- welcome message -->
    <p id="teachers-list-header" class="text-center my-5 mx-2">
      <span class="auto-write-text h1">></span>
    </p>

    <!-- main -->
    <main class="container" id="about">
      <hr />
      
      <p>
	A tutti noi capita di lamentarci di qualcosa. Questo è
	normale. Anzi, è fondamentale sentire ed esprimere la propria
	insoddisfazione, in quanto l'umanità è sempre avanzata in
	eterni conflitti tra <b> realtà insoddisfacenti </b> e <b>
	ideali irraggiungibili</b>.</p>

      <p>
	Questo sito nasce da una serie di critiche e da un senso di
	insoddisfazione generale rispetto allo stato corrente del sito
	di informatica. Il nostro obiettivo è alquanto semplice da
	esprimere: </p>

      <p id="about-center-text">
	fornire un servizio alternativo al sito ufficiale di informatica.
      </p>

      <p >
	Noi siamo studenti di <i>informatica</i>, e come tali non ci
	possiamo fermare alle critiche sullo stato dei servizi
	tecnologici che siamo costretti ad utilizzare. Per anni
	abbiamo studiato e sviluppato gli strumenti base
	dell'informatico. Adesso dobbiamo onorare la nostra educazione
	e professione, utilizzando ciò che abbiamo imparato
	per <b>migliorare lo stato delle cose</b>.
      </p>

      <p>
	Cosa rende il nostro servizio unico nel suo genere? Il nostro servizio
	è stato concepito fin dalla sua nascita per essere fatto
      </p>

      <p id="about-center-text">
	dagli studenti, per gli studenti.
      </p>

      <!-- <hr /> -->
      <!-- <p style="font-size: 22px;"> -->
      <!-- 	Per informazioni tecniche rimandiamo alle seguenti risorse: -->
      <!-- 	<ul> -->
      <!-- 	  <li><a style="font-size: 22px;" href="https://github.com/Alessandrostr95/PinkPeachProject"> github repo </a></li> -->
      <!-- 	  <li><a style="font-size: 22px;" href="https://github.com/Alessandrostr95/PinkPeachProject"> documentazione </a></li> -->
      <!-- 	</ul> -->
      <!-- </p> -->

      <hr />

      <!-- CONTRIBUTORS -->
      <p class="text-center my-5 mx-2">
        <span class="auto-write-text h1">>Contributors</span>
      </p>
      <p>
        Di seguito i contributori del nostro progetto.
        Se ritieni interessante il nostro lavoro e la nostra idea, unisciti
        anche tu al PinkPeachProject e aiutaci a migliorare il servizio
        che vogliamo offrire agli studenti.
      </p>
        <div class="row">
          {% for user in contributors %}
            <div class="col-12 col-md-6 col-lg-4 p-1">
              <div class="contributor-card">
                <img src="../assets/contributors/{{ user['login'] }}.jpg" alt="Avatar">
                <p class="align-middle"><a href="{{ user['html_url'] }}">{{ user['login'] }}</a></p>
              </div>
            </div>
          {% endfor %}
        </div>

    </main>

    <hr />


    <!-- footer -->
    <footer>
      <div id="gitIcon">
        <a href="https://github.com/Alessandrostr95/PinkPeachProject">
          <img src="../assets/icons/icons8-github-96.png" alt="git" width="28px" />
        </a>
      </div>
      <div id="sitoUfficialeIcon">
        <a href="http://www.informatica.uniroma2.it/">
          <img
            src="../assets/icons/icons8-toilet-paper-80.png"
            alt="sito-informatica"
            width="28px"
          />
        </a>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
