body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
}

nav {
    text-align: center;
    width: 100%;
    font-size: 2em;
    background-color: teal;
    padding: 10px 0px;
    position: sticky;
}

header {
    background-color: tomato;
    font-size: 3em;
    padding: 20px;
    margin: 10px auto;
    width: fit-content;
}

main {
    background-color: burlywood;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "w w w w w w"
    "t t t t t t"
    "n n n n n n"
    ;
    gap: 5px
}

main div {
    text-align: center;   
}

.welcome {
    grid-area: w;
    background-color: lightcoral;
    min-height: 50px;
}

.tree {
    grid-area: t;
    background-color: lightseagreen;
    min-height: 100px;
}

.news {
    grid-area: n;
    background-color: maroon;
    min-height: 200px;
}

@media screen and (min-width: 590px) {
    main {
        grid-template-areas: 
        "t t w w w w"
        "t t n n n n"
        "t t n n n n"
        ;
    }
}

@media screen and (min-width: 920px) {
    main {
        grid-template-areas: 
        "w w w w w w"
        "t t n n n n"
        ;
        gap: 5px
    }
}