.news {
  margin: 0;
  /*padding: .6rem;*/
  padding: 0;
  width: auto;
}

.news .buffer {
  width: 100%;
  padding: 0;
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.news div.row {
  background-color: darkseagreen !important;
  /*width: 100% !important;*/
  margin: 0 !important;
}

.message-xml, .message-normal {
  /*box-shadow: 8px -4px 4px 0 rgba(0, 0, 0, 0.2);*/
  box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  /*width: 100%;*/
  height: fit-content;
  /*margin: 5px;*/
  background-color: white;
  transition: transform 0.2s;
}

.message-xml {
  font: small Inconsolata, monospace;
}

@media screen and (min-width: 768px) {
  .message-xml, .message-normal {
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  /*
      .message:hover {
        transform: scale(1.05);
        z-index: 999;
      }*/
    .buffer {
      height: 90vh !important;
    }
}

.message-xml a, .message-normal a, 
.body-message {
  /* -ms-word-break: break-all; */
  word-wrap: break-word; /* All browsers since IE 5.5+ */
  overflow-wrap: break-word; /* Renamed property in CSS3 draft spec */

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.tag-name {
  color: green;
}

.attr {
  color: blue;
}

.str {
  color: blueviolet;
}

.tab {
  padding-left: 1em;
}

/* scroll bar */
/* width */
.news ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.news ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.news ::-webkit-scrollbar-thumb {
  background: rgba(0, 128, 0, 0.6);
}

/* Handle on hover */
.news ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 100, 0, 0.8);
}
