#barraMenu {
  transition: top 0.3s;
}

.ombra-menu {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 50px 80px rgba(0, 0, 0, 0.05);
}

#barraMenu ul {
  position: absolute;
}

#barraMenu a.navbar-brand {
  font-family: 'Times New Roman', Times, serif;
}

.underbar {
  width: 0;
  height: 3px;
  background: rgba(100, 100, 200, 0);
  top: 40px;
  position: absolute;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: green;
}

@media screen and (max-width: 767px) {
  .underbar {
    display: none;
  }

  #barraMenu ul {
    position: initial;
  }

  #barraMenu li {
    padding-left: 10px;
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out;

    background: linear-gradient(to right, green 50%, rgba(255,255,255,0) 50%);
    background-size: 200% 100%;
    background-position: bottom right;
  }

  #barraMenu li.nav-item:hover {
    background-position: bottom left;
  }

  #barraMenu li.nav-item:hover a.nav-link {
    transition: all .5 linear !important;
    color: white !important;
  }

  #barraMenu li.nav-item a.nav-link {
    width: fit-content !important;
  }
}

#barraMenu li {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
/*
versione vecchia quando gli elementi erano:
- Informazioni
- Didattica
- Docenti
- Studenti
#barraMenu li:nth-of-type(1):hover ~ .underbar {
  left: 8px;
  width: 90px;
}
#barraMenu li:nth-of-type(2):hover ~ .underbar {
  left: 115px;
  width: 65px;
}
#barraMenu li:nth-of-type(3):hover ~ .underbar {
  left: 195px;
  width: 55px;
}
#barraMenu li:nth-of-type(4):hover ~ .underbar {
  left: 267px;
  width: 62px;
}
*/
#barraMenu li:nth-of-type(1):hover ~ .underbar {
  left: 8px;
  width: 38px;
}
#barraMenu li:nth-of-type(2):hover ~ .underbar {
  left: 60px;
  width: 38px;
}
#barraMenu li:nth-of-type(3):hover ~ .underbar {
  left: 113px;
  width: 55px;
}
#barraMenu li:nth-of-type(4):hover ~ .underbar {
  left: 185px;
  width: 43px;
}
#barraMenu li:nth-of-type(5):hover ~ .underbar {
  left: 244px;
  width: 49px;
}
#barraMenu li:nth-of-type(6):hover ~ .underbar {
  left: 307px;
  width: 29px;
}

/* HEADER */

header {
  max-width: 300px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  cursor: default;
}

header h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 2.35em;
}

header h1:nth-child(3) {
  font-size: 3em;
}

#switch-button {
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px;
  /*border: 4px outset rgb(128, 128, 128);
  background-color:lightgray;*/
  border: 2px solid green;
  position: relative;
  margin: auto;
  width: 80%;
  height: 3em;
  z-index: 0;
}

#triennale, #magistrale {
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  width: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
  color: green;
}

#triennale {
  left: 0;
}

#magistrale {
  right: 0;
}

.toggled {
  color: white !important;
}

#slide-bar {
  cursor: pointer;
  position: absolute;
  /*border-radius: 9px;*/
  border-radius: 6px 0px 0px 6px;
  z-index: 1;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: green;
  transition: all .2s linear;
  left: 0px;
}

.right {
  left: 50% !important;
  border-radius: 0px 6px 6px 0px !important;
}

.select-disabled {
  -webkit-touch-callout: none;  /* iOS Safari */
  -webkit-user-select: none;    /* Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -moz-user-select: none;       /* Old versions of Firefox */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  user-select: none;
}

/* main */
#home-template {
  display: grid;
  grid-template-columns: repeat(7, 7fr);
  grid-template-areas: 
  "w w w w w w w"
  "t t t t t t t"
  "n n n n n n n"
  ;
  gap: 5px;
  align-items: start;
}

#welcome-message {
  min-height: 8em;
  grid-area: w;
}

#nav-tree-block {
  grid-area: t;
}

#news-block {
  grid-area: n;
}

@media screen and (min-width: 576px) {
  #home-template {
    grid-template-rows: 8em auto;
    grid-template-areas:
    "t t t w w w w"
    "t t t n n n n"
    ;
  }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
  #home-template {
    grid-template-rows: 4em auto;
      grid-template-areas: 
      "w w w w w w w"
      "t t t n n n n"
      ;
      gap: 10px
  }
  #welcome-message  {
    min-height: 4em;
  }
}

.auto-write-text{
  animation: blink-cursor .75s step-end infinite;
  border-right: .15em solid green; /* cursore sul lato */
  font: larger Inconsolata, monospace;
}

/* The typewriter cursor effect */
@keyframes blink-cursor {
  from, to { border-color: transparent }
  50% { border-color: green; }
}

/* footer */
footer {
  display: flex;
  flex-wrap: nowrap;
  padding: 25px 40%;
}

footer div {
  display: inline;
  margin: auto;
  cursor: pointer;
}

/* altre classi */
.hidden {
  display: none !important;
}

/* about page */
#about p {
    text-align: justify;
    font-size: 22px;
}

#about p#about-center-text {
    text-align:center;
    font-size: 30px;
    font-weight:bold;
}