<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../assets/logo.svg" />
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/table-style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../../assets/js/courses-list.js"></script>
    <title>Informatica Tor Vergata</title>
    <style>
      #inputCorso {
        background-image: url("../../assets/icons/icons8-ricerca-100.png");
        background-size: 25px;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
      }
    </style>
  </head>

  <body>
    <!-- MENU -->
    <nav
      id="barraMenu"
      class="
        navbar
        sticky-top
        navbar-expand-md navbar-light
        bg-light
        ombra-menu
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="../../home/index.html">
          <img
            src="../../assets/logo.svg"
            alt="logo"
            height="60px"
            class="d-inline-block align-text-top"
          />
          <div class="d-inline-block align-text-top h4">
            CdL in Informatica <br />
            Tor Vergata
          </div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarTogglerDemo02"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./orario.html">Orari</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#nogo">Corsi</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="./docenti.html">Docenti</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="./esami.html">Esami</a>
            </li>

            <li class="nav-item">
              <a id="link-lauree" class="nav-link" href="./lauree.html">Lauree</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="../../home/informazioni.html">Info</a>
            </li>
            <div class="underbar"></div>
          </ul>
        </div>
      </div>
    </nav>

    <!-- welcome message -->
    <p id="teachers-list-header" class="text-center my-5 mx-2">
      <span class="auto-write-text h1">> </span>
    </p>

    <!-- MAIN -->
    <main class="container-lg">
      <p class="mb-1 text-muted fst-italic">
        - Ricerca i corsi in base al nome, codice o anno di corso.
      </p>
      <!-- BARRA RICERCA -->
      <input
        type="text"
        id="inputCorso"
        onkeyup="filtra()"
        placeholder=". . ."
        title="Type in a name"
      />

      <!-- TABELLA CORSI -->
      <div class="table-responsive">
        <table id="listaCorsi" class="table table-bordered align-middle">
          <thead>
            <tr>
              <th class="text-center" scope="col">Corso</th>
              <th class="text-center" scope="col">Codice</th>
              <th class="text-center" scope="col">Anno</th>
              <th class="text-center" scope="col">CFU</th>
              <th class="text-center" scope="col">Docenti</th>
            </tr>
          </thead>

          <tbody>
            {% for corso in corsi %}
            <tr>
              <td>
                <a href="./{{ corso['codice'] }}.html">{{ corso['nome'] }}</a>
              </td>
              <td>
                <a href="./{{ corso['codice'] }}.html">{{ corso['codice'] }}</a>
              </td>
              <td>{{ corso['anno'] }}</td>
              <td>{{ corso['cfu'] }}</td>
              <td>{{ corso['docente'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

    <hr />
    <!-- footer -->
    <footer>
      <div id="gitIcon">
        <a href="https://github.com/Alessandrostr95/PinkPeachProject">
          <img
            src="../../assets/icons/icons8-github-96.png"
            alt="git"
            width="28px"
          />
        </a>
      </div>
      <div id="sitoUfficialeIcon">
        <a href="http://www.informatica.uniroma2.it/">
          <img
	    src="../../assets/logo_TV.svg"
            alt="sito-informatica"
            width="28px"
          />
        </a>
      </div>
    </footer>
    <span id="current-year" style="visibility:none";>{{ year }}</span>
  </body>
</html>
