#mattina {
    background-color: green;
    height: fit-content;
    padding: 4px;
}

.H{
    text-align: center;
    color: white;
    font-weight: bold;
}

#days > div {
    position: relative;
}
#days p {
    color: white;
    font-weight: bold;
    position: absolute;
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%);
}

.day {
    font-size: x-small;
    transition: transform .2s; /* Animation */
    cursor: pointer;
    background-color: white;
    color: black;
    position: relative;
}

.day:hover {
    transform: scale(1.25);
    background-color: green;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
    color: white;
    z-index: 999;
}

.day a {
    color: inherit;
    font-weight: bold;
    text-align: center !important;
    text-decoration: none;
    position: absolute;
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%);
}

#mattina > div {
    display: grid;
    grid-template-rows: 5% auto;
    height: 500px;
    row-gap: 2px;
}

#mattina {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    column-gap: 2px;
}